PINECONE_API_KEY=
PINECONE_HOST=museum-of-minds-vfyxzen.svc.aped-4627-b74a.pinecone.io
PINECONE_INDEX=museum-of-minds
ANTHROPIC_API_KEY=
ELEVENLABS_API_KEY=
RAILWAY_TOKEN=
DATABASE_PATH=./orchestrator.db
PORT=8080
